# OS and editor files
.DS_Store
*.swp
*.iml
*.ipr
*.iws
.atom/
.history
.idea/
.svn/

# Logs and compiled files
*.class
*.log
*.py[cod]

# Flutter and Dart
.build/
.buildlog/
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
.swiftpm/
migrate_working_dir/
**/doc/api/
**/ios/Flutter/.last_build_id
build/
coverage/
app.*.symbols
app.*.map.json
android/app/debug/
android/app/profile/
android/app/release/

# Android
android/.gradle/
android/**/.cxx/
android/captures/
android/**/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/key.properties
android/**/*.keystore
android/**/*.jks

# Local environment
.env
.env.*
!.env.example
